@font-face {
   font-family: 'VIP-Arabic-Typo';
   src: url('VIP-Arabic-Typo/font.otf');
}
@font-face {
   font-family: 'HSN_Layan';
   src: url('HSN_Layan/font.ttf');
}
@font-face {
   font-family: 'Kharabeesh-Font';
   src: url('Kharabeesh-Font/font.ttf');
}
